<div class="content">
  <div class="dc-page">
    <div class="dc-card">
      <div id="search-results" class="search-results"></div>
      <div id="page-content" class="document-formatting">
        <%- page.content %>
      </div>
    </div>
  </div>
</div>
