<div class="sidebar">
  <div class="sidebar-content">
    <ul class="toc">
        <li><!-- sidebar categories as in Meteor theme? -->
          <ul class="list-toc">
            <% site.data.navigation && site.data.navigation.main.forEach(function (navItem) { %>
              <%- partial('sidebar_nav_item.ejs', { navItem: navItem, page: page }) %>
            <% }) %>
          </ul>
        </li>
    </ul>
  </div>
</div>
