body {
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;

  &.sidebar-visible {
    .sidebar {
       transform: translateX(0px);
    }

    .content {
      transform: translateX($sidebar-width);
      @media screen and (min-width: $breakpoint) {
        margin-left: 0;
      }
    }
  }
}
