.navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: $navbar-height;
  padding: 0 8px;
  z-index: 3;
  background: $navbar-color-background;
  border-bottom: 1px solid $navbar-color-border;
  transition: 0.1s ease-in-out;

  @media screen and (min-width: $breakpoint) {
    width: $sidebar-width;
  }

  .search-form {
    float: right;
    margin-top: 0.7rem;
    margin-bottom: 0rem;

    @media screen and (min-width: $breakpoint) {
      display: none
    }
  }

  &__logo {
    display: inline-block;
    line-height: $navbar-height - 4px;
    vertical-align: middle;
    height: 100%;
  }

  &__logo__img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    margin-right: 4px;
  }

  &__logo__text {
    color: $navbar-color-logo-text;
    font-size: 14px;
    font-family: "Source Sans Pro", "Ubuntu", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 700;

    @media screen and (max-width: $breakpoint) {
      display: none
    }
  }

  &__sidebar-toggle {
    line-height: $navbar-height;
    font-size:2rem;
    height: 100%;
    display: inline-block;
    vertical-align: middle;

    @media screen and (min-width: $breakpoint) {
      display: none
    }
  }

  &__sidebar-close {
    display: table;
    height: 100%;
    font-size: 12px;
    color: $dc-gray30;

    &:before {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__sidebar-close--desktop {
    float: right;

    @media screen and (max-width: $breakpoint) {
      display: none
    }
  }
}
