//
// sidebar
//
.sidebar {
  position: fixed;
  top: 50px;
  right: auto;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  height: auto;
  transition: 0.1s ease-in-out;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}

.sidebar-list{
  padding-left: 0px;

  &__item{
    margin-left: $sidebar-left-margin;
    list-style: none;
    line-height: 30px;
    font-size: $sidebar-font-size-normal;
    font-weight: $sidebar-font-weight-normal;
    color: $sidebar-color;

    &--link{

      &+#{&} {
        border-top: $sidebar-border;
      }

      &:hover{
        color: $sidebar-color-current;
      }
    }

    &--label{
      border-top: $sidebar-border;
      margin-left: 0px;
      padding-left: $sidebar-left-margin;
      font-weight: $sidebar-font-weight-bold;
      font-size: $sidebar-font-size-small;
      padding-bottom: 5px;
      padding-top: 5px;
      margin-top: 10px;
      color: $sidebar-color-label;


      &:first-of-type{
        border-top: initial;
      }
    }

    &--current{
      color: $sidebar-color-current;
      font-weight: $sidebar-font-weight-bold;

      &::before{
        border-left: 3px solid $sidebar-color-current;
        content: " ";
        position: absolute;
        left: 0px;
        height: 30px;
      }
    }

    a{
      color: inherit;
    }
  }
}


