@import "../../../node_modules/dress-code/dist/sass/dress-code";

// breakpoint
$breakpoint: 800px;
$breakpoint-small: 480px;

// spacing
$page-margin: 1.55555%;

// colors
$color-primary: #f46900;
$color-lightest: #fff;
$color-lighter: #f8f8f8;
$color-light: #f3f3f3;
$color-mediumlight: #EEE;
$color-medium: #CCC;
$color-mediumdark: #999;
$color-dark: #666;
$color-darker: #444;
$color-darkest: #333;
$color-logo: $color-primary;
$color-highlight: $dc-yellow60;

// navbar
$navbar-height: 50px;
$navbar-border-color: $dc-gray70;
$navbar-logo-text-color: #ff5d00;

// sidebar
$sidebar-width: 260px;

// dress-code overrides
$dc-link-color: $color-primary;
$dc-link-color-hover: darken($color-primary, 5%);

// include dress-code selectors
@include dc-everything;

// mixins
@mixin page-margins {
  @media screen and (min-width: ($breakpoint * 1)) { margin: 0 1*$page-margin; }
  @media screen and (min-width: ($breakpoint * 1.5)) { margin: 0 1.5*$page-margin; }
  @media screen and (min-width: ($breakpoint * 2)) { margin: 0 2*$page-margin; }
}

@mixin std-ypadding {
  padding-top: 1.25rem; //20px
  padding-bottom: 1.25rem;

  @media screen and (min-width: $breakpoint) {
    padding-top: 1.875rem; //30px
    padding-bottom: 1.875rem;
  }
}

@mixin std-xpadding {
  padding-left: 1.25rem; //20px
  padding-right: 1.25rem;

  @media screen and (min-width: $breakpoint) {
    padding-left: 1.875rem; //30
    padding-right: 1.875rem;
  }
}
