.doc-document-formatting {
	h1:first-child {
		margin-top: 0;
		line-height: 3.4rem;
	}
  // for theme's anchor links
	h2,
	h3 {
		position: relative;
		.anchor {
			transform: translateY(-50%);
			color: $color-medium;
			margin-right: 6px;

			@media screen and (min-width: $breakpoint) {
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: -18px;
        width: auto;
        height: auto;
			}

      @include dc-icon;
      @include dc-icon--check; // FIXME bookmark icon

      &:before {
        font-size: 12px;
      }

			&:hover { color: $color-primary !important; }
		}
	}

  figure {
    clear: both;
    margin: 1.5em 0;
  }

  figure figcaption {
    font-size: 12px;
    line-height: 16px;
    color: $color-mediumdark;
  }

  code {
    font-size: 90%;
  }

  dl {
    padding-left: 30px;
    margin: 0;
  }

  dl:not(:last-of-type) {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }

  dl dt {
    font-weight: 600;
  }

  dl dt:not(:first-child) {
    margin-top: 1em;
  }

  dl dt code {
    line-height: inherit;
  }

  dl dd {
    margin: 0;
  }

  img {
    display: inline-block;
    padding: 0 20px;
    max-width: 100%;
    position: relative;
    vertical-align: top;
  }

  img.alignright {
    float: right;
    margin-right: 0;
  }

  img.alignleft {
    float: left;
    margin-left: 0;
  }

  img.aligncenter {
    display: block;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
  }

  blockquote {
    border-left: 2px solid $color-primary;
    color: #666;
    margin: 1.5em 0;
    padding: .75em 20px .75em 30px;
  }

  blockquote p:only-of-type {
    margin: 0;
  }

  ol, ul {
    list-style-position: outside;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    padding-left: 30px;
  }

  ol li, ul li {
    margin-bottom: .5rem;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  pre {
    padding: 1em 1.25em;
    white-space: pre-wrap;
    background: $color-lighter;
    color: $color-darkest;
  }

  *:not(figure.highlight) pre {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  *:not(figure.highlight) pre code {
    border: none;
    box-shadow: none;
    color: $color-darkest;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}

.doc-document-formatting .highlight {
	font-size: 14px;
	line-height: 20px;
	overflow-x: auto;

	table {
		width: 100%;
	}

	.gutter {
		width: 40px;
	}

	.gutter pre {
		margin: 0;
		padding: 1.5em 10px;
		text-align: right;
	}

	.code pre {
		overflow-y: auto;
		overflow-x: auto;
		padding: 1.5em 15px 1.5em 20px;
		margin: 0;
		white-space: pre;
	}

	.code pre .line:empty::after {
		content: '\200b';
	}
}
