//
// Navbar
//
.doc-navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: $navbar-height;
  padding: 0 10px;
  z-index: 3;
  background: $navbar-color-background;
  border-bottom: 1px solid $navbar-color-border;
  transition: 0.1s ease-in-out;

  @media screen and (min-width: $breakpoint) {
    width: $sidebar-width;
  }

  .doc-search-form {
    float: right;
    margin-top: 0.7rem;
    margin-bottom: 0rem;

    @media screen and (min-width: $breakpoint) {
      display: none
    }
  }

  &__logo {
    display: inline-block;
    line-height: $navbar-height - 4px;
    vertical-align: middle;
    height: 100%;
  }

  &__logo__img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    margin-right: 6px;
  }

  &__logo__text {
    color: $navbar-color-logo-text;
    font-size: 14px;
    font-family: "Source Sans Pro", "Ubuntu", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 700;

    @media screen and (max-width: $breakpoint) {
      display: none
    }
  }

  &__sidebar-toggle {
    line-height: $navbar-height;
    font-size:2rem;
    height: 100%;
    display: inline-block;
    vertical-align: middle;

    @media screen and (min-width: $breakpoint) {
      display: none
    }
  }

  &__sidebar-close {
    display: table;
    height: 100%;
    font-size: 12px;
    color: $dc-gray30;

    &:before {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__sidebar-close--desktop {
    float: right;

    @media screen and (max-width: $breakpoint) {
      display: none
    }
  }
}


//
// Sidebar
//
.doc-sidebar-toggle {
  color: $dc-gray30;
  font-size: 2.5rem;
  font-weight: 500;
}

.doc-sidebar-toggle--primary {
  color: $color-primary;
}

.doc-sidebar {
  position: fixed;
  top: $navbar-height;
  right: auto;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  height: auto;
  transition: 0.1s ease-in-out;
  background: $sidebar-color-background;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;

  @media screen and (max-width: $breakpoint) {
    transform: translateX(-$sidebar-width);
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.07);
    cursor: grab;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &__vertical-menu {
    float: right;
    text-align: center;
    width: $sidebar-width-collapsed;

    &__item {
      display: block;
      padding: 0.6rem;
    }

    &__item--primary {
      color: $color-primary;
    }
  }

  &__search-form {
    height: 36px;
    width: 100%;
    margin: 24px 0 0 22px;

    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }
}

.doc-sidebar-list{
  padding-left: 0px;

  &__item{
    margin-left: $sidebar-left-margin;
    list-style: none;
    line-height: 30px;
    font-size: $sidebar-font-size-normal;
    font-weight: $sidebar-font-weight-normal;
    color: $sidebar-color;

    &--link{

      &+#{&} {
        border-top: $sidebar-border;
      }

      &:hover{
        color: $sidebar-color-current;
      }
    }

    &--label{
      border-top: $sidebar-border;
      margin-left: 0px;
      padding-left: $sidebar-left-margin;
      font-weight: $sidebar-font-weight-bold;
      font-size: $sidebar-font-size-small;
      padding-bottom: 5px;
      padding-top: 5px;
      margin-top: 10px;
      color: $sidebar-color-label;


      &:first-of-type{
        border-top: initial;
      }
    }

    &--current{
      color: $sidebar-color-current;
      font-weight: $sidebar-font-weight-bold;

      &::before{
        border-left: 3px solid $sidebar-color-current;
        content: " ";
        position: absolute;
        left: 0px;
        height: 30px;
      }
    }

    a{
      color: inherit;
    }
  }
}
