.doc-search-results {
  > ul {
    list-style: none;
    padding: 0;
  }

  > ul > li {
    display: block;
  }

  > ul > li a {
    color: $color-primary;
    font-weight: 400;
    &:hover, &:visited, &:active {
      color: $color-primary;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .doc-highlight {
    display: inline-block;
    background: $color-highlight;
  }
}
