.doc-search-form {
  max-width: 186px;

  &__input:focus + &__btn {
    color: $dc-blue30;
    cursor: default;
  }

  &__btn {
    &:hover {
      color: $dc-blue30;
      cursor: default;
    }
  }
}

.doc-search-results {
  &__title {
		margin-top: 0;
		line-height: 3.4rem;

    &__query {
      font-weight: 500;
    }
	}

  &__list {
    list-style: none;
    padding: 0;

    &__item {
      display: block;
    }

    &__link {
      display: block;
      font-weight: 400;
    }
  }

  .doc-highlight {
    font-weight: 500;
  }
}
