// breakpoints
// -----------
$doc-breakpoint: 800px;
$doc-breakpoint-small: 480px;

// colors
// -------------
$doc-color-primary: $dc-orange40;
$doc-color-lightest: #fff;
$doc-color-lighter: $dc-gray80;
$doc-color-light: #f3f3f3;
$doc-color-mediumlight: #eee;
$doc-color-medium: #ccc;
$doc-color-mediumdark: #999;
$doc-color-dark: #666;
$doc-color-darker: #444;
$doc-color-darkest: #333;

// navbar
// -----
$doc-navbar-height: 50px;
$doc-navbar-background-color: $doc-color-lightest;
$doc-navbar-border-color: #e1e1e1;
$doc-navbar-logo-text-color: #ff5d00;
$doc-navbar-width-collapsed: $doc-navbar-height;

// sidebar
// ------
$doc-sidebar-width: 230px;
$doc-sidebar-width-collapsed: $doc-navbar-width-collapsed;
$doc-sidebar-left-margin: 40px;
$doc-sidebar-background-color: $doc-navbar-background-color;
$doc-sidebar-color: $dc-gray30;
$doc-sidebar-label-color: $dc-gray20;
$doc-sidebar-current-color: $dc-orange40;
$doc-sidebar-item-border: 1px solid #ededed;
$doc-sidebar-font-weight-normal: 300;
$doc-sidebar-font-weight-bold: 500;
$doc-sidebar-font-size-small: 12px;
$doc-sidebar-font-size-normal: 14px;

// support
// -------
$doc-support-footer-border-color: $dc-gray60;
$doc-support-footer-color: $dc-gray50;

// formatting
// ----------

// anchor
$doc-anchor-color: $doc-color-medium;
$doc-anchor-color-hover: $doc-color-primary;

// blockquote
$doc-blockquote-border-color: $doc-color-primary;

// table
$doc-table-border-color: $dc-gray60;
$doc-table-row-background-color: $dc-gray80;

// code
$doc-inline-background-color: $dc-gray70;
