<div class="swagger-body">
  <div class="swagger-definitions">
    <% operations.forEach((operation) => {%>
      <%- include_module('operation', { operation, baseUrl, globalSecurity }) %>
      <div class="divider bold"></div>
    <% }) %>
  </div>
</div>
