<div class="operation-response mtop1">
    <h3>Responses</h3>
    <% if(Object.keys(responses.successResponse).length){ %>
      <h4>Success</h4>
      <% Object.keys(responses.successResponse).forEach((responseCode) => {
        const response = responses.successResponse[responseCode];
      %>
        <%- include_module('response', { responseCode, response }) %>
      <% }) %>
    <% } %>

    <% if(Object.keys(responses.errorResponse).length){ %>
      <h4>Errors</h4>
      <% Object.keys(responses.errorResponse).forEach((responseCode) => {
        const response = responses.errorResponse[responseCode];
      %>
        <%- include_module('response', { responseCode, response }) %>
      <% }) %>
    <% } %>

    <% if(responses.defaultResponse){ %>
      <h4>Default Response</h4>
      <% const response = responses.defaultResponse; %>
      <% const responseCode = 'default'; %>
      <%- include_module('response', { responseCode, response }) %>
    <% } %>

</div>
