<% if(sample){ %>
  <div class="sample-snippet">
    <pre class="sample-snippet__content prettyprint"><code class="sample-snippet__content__code">
        <%-_ sample %>
      </code></pre>
    <button class="dc-btn sample-snippet__copy-btn dc-btn--small">Copy Response</button>
  </div>
<% } %>
