<div class="description">
  <% if('default' === responseCode){ %>
    This is a default response for the request.
  <% }else{ %>
    Status Code: <code><%- responseCode %></code>
  <% } %>
</div>
<% if(response.description){ %>
  <div class="description">
    <%- response.description %>
  </div>
<% } %>
<% if(response.data['__noData']){ %>
  <%- include_module('emptyResponse', { response: response.data }) %>
<% } else { %>
  <%- include_module('responseBody', { response: response.data }) %>
<% } %>

