<div class="response">
  <div class="reference">
    <%- include_module('responseStructure', { responseCode, response }) %>
  </div>
  <div class="sample">
    <%- include_module('responseSample', { sample: response['examples']}) %>
  </div>
</div>
