<% securityRequirement.forEach((security) => {
  Object.keys(security).forEach((key) => {
%>
  <div>
    <% if(key && security[key].length){ %>
      <code><%- security[key].join('</code>, <code>').replace(/,([^,]*)$/, ' and$1') %></code> <% if(security[key].length > 1){ %>scopes are<%}else{ %>scope is<% } %> required for <code><%- key %></code>.
    <% } %>
  </div>
<% })}) %>
