<% if(securityDefinitions){ %>
  <div class="security-definitions">
    <h2 id="security-definitions"> Security Definitions</h2>
    <div class="card-wrap">
      <% Object.keys(securityDefinitions).forEach((key) => {
          const definition = securityDefinitions[key];
      %>
        <%- include_module('securityDefinition', { key, definition }) %>
      <% }) %>
    </div>
  </div>
<% } %>
