<div class="swagger-head">
  <div class="swagger-title">
    <%= info.title %>
  </div>
  <div class="swagger-version">
      <strong>Version: </strong><%= info.version %>
  </div>
  <div class="swagger-description">
    <%= info.description %>
  </div>
</div>
