<% if(response.description){ %>
  <div class="description">
    <%- response.description %>
  </div>
<% } %>
<% if(response.data['__noData']){ %>
  <%- include_module('emptyResponse', { resopnse: response.data }) %>
<% } else { %>
  <%- include_module('responseBody', { response: response.data }) %>
<% } %>

