<% if(sample){ %>
  <h3>Sample Response</h3>
  <h4>&nbsp;</h4>
  <div class="code-wrapper">
    <pre class="code-pre"><code class="sample-code">
        <%-_ sample %>
      </code></pre>
  </div>
<% } %>
