<div class="operation-response mtop1">
    <% Object.keys(responses).forEach((responseCode) => {
      const response = responses[responseCode];
      //Hack
      //FIXME: Make this implementation better.
      if(responseCode[0] !== '2'){
        return;
      }
    %>
      <div class="reference">
        <h3>Response</h3>
        <%- include_module('response', { responseCode, response }) %>
      </div>
      <div class="sample">
        <%- include_module('responseSample', { sample: response['examples']}) %>
      </div>
    <% }) %>
</div>
