<div class="operation-response mtop1">
    <h3>Response</h3>
    <% Object.keys(responses).forEach((responseCode) => {
      const response = responses[responseCode];
    %>
      <div class="response">
        <div class="reference">
          <%- include_module('response', { responseCode, response }) %>
        </div>
        <div class="sample">
          <%- include_module('responseSample', { sample: response['examples']}) %>
        </div>
      </div>
    <% }) %>
</div>
