<div class="swagger-ui-wrap" id="swagger-ui-<%- id %>"></div>
<script>
window.onload = function() {
  var ui = SwaggerUIBundle({
    url: "<%- swaggerUrl %>",
    dom_id: '#swagger-ui-<%- id %>',
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis,
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl,
      HexoThemeDoc.SwaggerPlugin
    ]
  })
}
</script>
